    <footer class="text-center text-gray-600 mt-10 border-t pt-4">
      <p>&copy; <%= new Date().getFullYear() %> Vivek Mahey's Todo App. All rights reserved.</p>
    </footer>
  </div>
</body>
</html>
