    <footer class="bg-white/20 backdrop-blur-2xl border-t border-white/40 text-gray-500 text-center rounded-t-xl py-4 mt-10 shadow-inner">
      <p>&copy; <%= new Date().getFullYear() %> Vivek Mahey's Todo App. All rights reserved.</p>
    </footer>
  </div>
</body>
</html>
